@model module4.Domain.Category

<form asp-controller="Category" asp-action="Register" method="POST">
    <br>
    Nome:
    <input asp-for="Name">
    <br>
    <button type="submit">Salvar</button>
</form>


